<?xml version="1.0"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="httpPlatformHandler" path="" verb="" modules="httpPlatformHandler" resourceType="Unspecified" />
        </handlers>
        <httpPlatform processPath="%home%\site\wwwroot\venv\Scripts\python.exe"
                      arguments="python app.py"
                      stdoutLogEnabled="true"
                      stdoutLogFile="%home%\LogFiles\gunicorn.log" />
    </system.webServer>
</configuration>