<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>card</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <style>
        body {
            background-color: #FDE3A7; /* Pastel yellow background color */
            display: flex;
            align-items: top;
            justify-content: center;
        }

        .card {
            background-color: #e3cc99; /* Pastel yellow background color */
        }
    </style>
</head>
<body>
<div class="container">
    <div class="row mt-1">
        <div class="col-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{ card[10] }}</h5>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{ card[1] }}</h5>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{ card[2] }}</h5>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-1">
        <div class="col-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{ card[9] }}</h5>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{ card[3] }}</h5>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{ card[4] }}</h5>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{ card[5] }}</h5>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-1">
        <div class="col-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{ card[6] }}</h5>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{ card[7] }}</h5>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{ card[8] }}</h5>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Bootstrap JS and your custom script -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
<script>
    //when this is loaded in an iframe, change the value of the element with id card-name to the name of the card
    window.onload = function () {
        //get the document from the parent element

        window.parent.document.getElementById("card-name").innerHTML = "{{ card[0]}}";
        console.log("loaded");
    }
</script>
</body>
</html>