<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Bootstrap Buttons</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <style>
    body {
      background-color: #F9F7D4;
    }

    .center {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
    }

    .btn-join {
      background-color: #FFDD57;
      border-color: #FFDD57;
      color: black;
    }

    .btn-create {
      background-color: #E6B800;
      border-color: #E6B800;
      color: black;
    }
  </style>
</head>
<body>
  <div class="center">
    <div>
      <a href="/joinGame" class="btn btn-join btn-lg mr-3">Join</a>
      <a href="/createGame" class="btn btn-create btn-lg">Create</a>
    </div>
  </div>
</body>
</html>
